html {
    height: 100vh;
    display: flex;
}

body {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background-color: #03fc80;
}

#game {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #5f2bed;
}
  
::selection {
    color: white;
    background: #5f2bed;
}